<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>
<div class = 'pane quarter'>
	<h1>Great Medieval Weapons Catalog</h1>

	<a href="{{ url_for('newCategory')}}" > <h3> Create a New Category </h3> </a>

	{% for category in categories %}



	<a class="category" href = "{{url_for('showCat', category_id = category.id)}}"> <p>{{category.name}}</p></a>

	<p><a id="EditC" href = "{{url_for('editCategory', category_id = category.id)}}">Edit Category</a></p>

	<p> <a id="DelC" href = "{{url_for('deleteCategory', category_id = category.id)}}">Delete Category</a> </p>




	{% endfor %}

</div>

</div>
</body>

</html>
