<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='function.js') }}" async defer></script>
<meta name="google-signin-client_id" content="801689158274-gikf3j7bul5evn4gl2fr43lhtahu20dn.apps.googleusercontent.com">
</head>

<body>
<div class = 'pane quarter'>
	<h1>Great Medieval Weapons Catalog</h1>

	<h3 id="userEmail">{{email}}</h3>
	<h3 id="userGoogle"></h3>
	</br>
	<div id="loginTab" class = 'pane quarter'>
    <form action="#" method = 'post'>


    	<p>email:</p>
    		<input type ='text' size='30' name='email' required>
      <p>password:</p>
      	<input type ='password' size='30' name='password' required>
  		</br>
  		</br>

    <input id="login" type='submit' value='Login'>
    </form>
		<input type='button' value='hide' onclick="buttonHide();">
		<br>
    <br>
  </div>

	<div id="buttons">
			<p><a id="DBlogin"  onclick="loginTabShow();" ><input type='button' value='Login'></a></p>
			<a id="SignUp"  href="{{url_for('newUser')}}"><input type='button' value='Sing Up'></a>
			<p><a id="DBlogout"  href="{{url_for('logout')}}" onclick="DBlogout();"><input type='button' value='Log Out'></a></p>
			</br>
			</br>
			<div class="g-signin2" data-onsuccess="onSignIn"></div>
			<a id="Glogout" href="#" onclick="signOut();"><input type='button' value='Sing Out Google'></a>
	</div>
 <div class="itemspane">

		<a href="{{ url_for('newCategory')}}" > <h3> Create a New Category </h3> </a>

		{% for category in categories %}

		<p><a class="category" href = "{{url_for('showCat', category_id = category.id)}}">{{category.name}}</a></p>

		<p><a id="EditC" href = "{{url_for('editCategory', category_id = category.id)}}">Edit Category</a></p>

		<p> <a id="DelC" href = "{{url_for('deleteCategory', category_id = category.id)}}">Delete Category</a></p>


		{% endfor %}

	</div>

</div>
</body>

</html>
