<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>
<div class = 'pane quarter'>
  <form action="#" method = 'post'>


  	<p>email:</p>
  		<input type ='text' size='30' name='newEmail' required>
    <p>password:</p>
    	<input type ='password' size='30' name='newPassword' required>
		</br>
		</br>

  <input type='submit' value='Register'>
  </form>

  <a id="SignUp" href = "{{ url_for('showCategories') }}"> Cancel </a>

  </br>
  </br>

</div>
</body>

</html>
